// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

section.background-tilde::before
  content: ""
  width: 100%
  height: 100%
  position: fixed
  background: url('../images/tilde.svg')
  background-size: 100% 100%
  z-index: -1
  opacity: 0.3

img
  max-height: 100%

ul.inline
  display: flex
  flex-direction: row
  justify-content: space-between
  list-style-type: none
  padding: 0
  width: 100%

ul.inline li
  flex: 1 1 0
  text-align: center
