// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


.murder::after
  content: "";
  background-image: url('../images/murder.jpg')
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

.murder-text h1
  color: #710000
  font-family: 'Permanent Marker', cursive
  font-size: 6em
  padding: 10px
  text-shadow: 1px 1px 1px black
  border-radius: 10px
